@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700')

html
  touch-action: manipulation

body
  font-family: 'Roboto', sans-serif

ul
  padding: 0
  margin: 0
  list-style-type: none

img
  display: inline-block
  max-width: 100%
  height: auto

a
  display: block
  text-decoration: none

.row
  max-width: 1200px
  padding: 0 16px
  margin: 0 auto

.background-info
  > div:first-of-type
    font-size: 16px !important

  > div:nth-of-type(2)
    font-size: 14px !important

// SUBHEADER
.subheader-container
  padding-top: 64px

// PROJECTS
.repositories
  width: 100%
  display: inline-block
  vertical-align: top

  a
    padding: 16px
    color: #1E1E1E

.social-media
  display: flex
  flex-direction: row
  justify-content: space-around

  &.mail .fa-2x
    color: rgba(0, 0, 0, 0.87)

  .fa-2x
    color: rgba(255, 255, 255, 0.87)

.fa-twitter:hover
  color: #1DA1F2

.fa-github:hover
  color: #000000

.fa-linkedin-square:hover
  color: #0F7CB7

.fa-film:hover
  color: #FCC80E

.main-container
  position: relative

.content
  display: flex
  justify-content: center
  flex-wrap: wrap
  list-style-type: none

  li
    flex: 0 0 320px
    padding: 0

// Medium and up
@media screen and (min-width: 40em)
  .left-drawer
    width: 420px !important

    &.closed
      transform: translate(-430px, 0px) !important

  .background-info
    > div:first-of-type
      font-size: 24px !important

    > div:nth-of-type(2)
      font-size: 16px !important

  .profile-image
    width: 100px !important
    height: 100px !important

  .content li
    flex: 0 0 360
    padding: 16px
